@model App1.Models.Employee
@{
    ViewData["Title"] = "Details";
    var employee = ViewBag.Employee as Employee;
}
<h1>Details</h1>
<div class="details">
    <h4>Employee</h4>
    <hr />
    <div class="row">
        <div class="col-sm-1">
            <div class="info-label">Name:</div>
            <div class="info-label">Surname:</div>
            <div class="info-label">Birth Date:</div>
            <div class="info-label">Position:</div>
        </div>
        <div class="col-sm-2">
            <div class="info-value">
                @Html.DisplayFor(Model=> Model.Name)
            </div>
            <div class="info-value">
                @Html.DisplayFor(Model=> Model.Surname)
            </div>
            <div class="info-value">
                @Html.DisplayFor(Model => Model.BirthDate)
            </div>
            <div class="info-value">
                @Html.DisplayFor(Model=> Model.Position)
            </div>
        </div>
        <div class="col-sm-4">
            <img class="image" src="@Url.Content(Model.Image)" alt="@Model.Name" width="150" height="150" />
        </div>
    </div>
    @await Html.PartialAsync("Summary", Model)
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>